*{
  color: red;
}
body{
  background-image: url("http://www.psdcore.com/tutorial-images/003_step1.jpg");
}
.center{
  text-align: center;
}
h2{
  text-decoration: none;
  text-align: center;
  color: pink;
  font-family: cursive;

}
div{
  border: 2px solid yellow;
  font-size: 20px;
}
span{
  font-size: 14px;
  text-decoration: none;
  color: pink;
  font-family: cursive;
}
a:link{
  color: green;
  }
  p{
    padding-left: 40px;
    padding-right: 20px;
  }
