*{
  background-color: black;
  color: green;
}
.center{
  text-align: center;
}
h2{
  text-decoration: underline;
  text-align: center;
  color: purple;
}
div{
  border: 2px solid yellow;
  font-size: 20px;
}
span{
  font-size: 14px;
  text-decoration: none;
  color: purple;
}
a:link{
  color: blue;
  }
  p{
    padding-left: 40px;
  }