*{
  background-color: gray;
  color: black;
}
.center{
  text-align: center;
}
h2{
  text-decoration: underline;
}
div{
  border: 2px solid black;
}
span{
  font-size: 14px;
  text-decoration: none;
}
a:link{
  color: blue;
  }